.Button--share{
	font-weight : bold;
}
.Share--facebook{
	.Button--color(#fff, #3B5998);
	margin: 10px !important;
}

.Share--google{
	.Button--color(#fff, #DC4E41);
	margin: 10px !important;
}

.Share--twitter{
	.Button--color(#fff, #00ACED);
	margin: 10px !important;
}

.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
